h1{
    font-size: 45px;
    font-weight: 400;
    font-family: "Lato", sans-serif ;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    padding-left: 85px;  
    padding-top: 18px;

}

sim{
    border-color: rgb(56, 122, 114);
}
.login{
    background-color: rgb(21, 75, 66);
    color: rgb(240, 248, 255);
    border-color: rgb(56, 122, 114);
    border-radius: 15px;
    width: 500px;
    height: 1000px;
    position: absolute;
    margin-left:863px;
    margin-top: 42px;
    padding-left: 150px;  
    padding-top: 55px;
    font-size: 20px;
    font-weight: 15px;
    font-family: "Lato", sans-serif ;
    
}
.campo_user{
    color: rgb(124, 124, 124);
    background-color: white;
    border-color: white;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    margin-top: 105px;
    margin-left: 45px;
    position: relative;

}

.senha{
    color: rgb(133, 133, 133);
    background-color: white;
    border-color: white;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    margin-top: 25px;
    margin-left: 45px;
}
